<!doctype html>
{% load staticfiles %}
<html xmlns="http://www.w3.org/1999/html">
   <head>
        <title> {{ title }}  </title>
        <!--<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">-->
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=open+sans">
        <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/app.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/mystyle.css' %}">
   </head>
   <body>
        <!--<div class="login"> <h3> My Instagram </h3>  <form action="" method="post">
                {% csrf_token %}
                {% if form.errors %}
                {%for key,value in form.errors.items%}
                    <li> {{ key }}:
                    {% for error in value %}
                    {{ error }}
                    {% endfor %}
                    </li>
                {% endfor %}

                {% endif %}
                Username :{{ form.username }}
                Password :{{ form.password }}
            <input type="hidden" name="next" value="{{next }}">
            <input type="submit" value="LogIn" />
            </form>
        </div>
        <div class="heading"> {{ body }}</div>
        <div class="button">
            <a href="http://127.0.0.1:8000/signup/"> <input type="button" value="Sign Up"> </a>
        </div>
        <div class="button">
            <a href="http://127.0.0.1:8000/frgpwd/"> <input type="button" value="Forget Password"> </a>
        </div>
        <div class="button">
            <a href="http://127.0.0.1:8000/resend/"> <input type="button" value="Resend Confirmation Link"> </a>
        </div>-->
      <div id="space"> </div>
            <div class="flex-middle">
        <span> <span> <img src="{% static 'images/logo.png' %}" width="35" height="35"> <span class="large"> LINUX  </span> </span>
        <span>
        <span class="small"> No account yet?<a href="http://127.0.0.1:8000/signup/"> Sign up </a> </span>
    </span>
    </span>
    </div>
        <div class="flex-middle">
        <form class="custom" id="center-form"  style="background-color:white" action="" method="post">
            {% csrf_token %}
            <fieldset>
            <div class="large-12 columns">
                <label> Login </label>
                {{ form.username }}
                {% if form.username.errors %}
                 {% for error in form.username.errors %}
                <li><strong>{{ error }}</strong></li>
                {% endfor %}
                {% endif %}
            </div>
            <div class="large-12 columns">
                <label> Password </label>
                {{ form.password }}
                {% if form.password.errors %}
                 {% for error in form.password.errors %}
                <li><strong>{{ error }}</strong></li>
                {% endfor %}
                {% endif %}
            </div>
            
            <input type="submit" class="button success" style="margin-left:15px" value="Log in">
            <span class="small">
            <a href="http://127.0.0.1:8000/frgpwd/"> Forget Password ? </a>
        </span>
            <span class="small">
            <a href="http://127.0.0.1:8000/resend/"> Resend Link  </a>
        </span>
            <div class="separator"> <span> or </span>
            </div>
            <center>
            <button type="button" class="button radius" style="margin-top:20px"> Log in with Facebook </button>
        </center>
            </fieldset>
        </form>
    </div>
   </body>
</html>
