<!doctype html>
{% load staticfiles %}
<html>
   <head>
        <title> Instagram !!  </title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
   </head>
   <body>
       Post your status here !!
        <div class="user">

            <form action="/post_status/" method="post">
                {% csrf_token %}
                {{ form }}
            <input type="submit" value="Submit" />
            </form>
         </div>
        <div class="user_end">
         <a href="http://127.0.0.1:8000/"> Go To Home Page </a>
        </div>

   <hr>
   </body>
</html>