<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>LearnLinux</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <!--<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">-->
        <link href="{% static 'css/font-awesome-4.3.0/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=open+sans">
        <link rel="stylesheet" type="text/css" href="{% static 'css/new_app.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/styling.css' %}">
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=open+sans">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
        <!--<link rel="stylesheet" type="text/css" href="app.min.css">
        <link rel="stylesheet" type="text/css" href="normalize.css">
        <link rel="stylesheet" type="text/css" href="normalize.min.css">-->
        <script type="text/javascript" src="{% static 'javascript/jquery.js' %}"></script>
        <script> 
            $(document).ready(function(){
                $("#fixedheader").hover(function(){
                    $("#menu").slideDown("slow");
                },
                function(){
                });
                $("#menu").mouseleave(function(){
                    $("#menu").slideUp("slow");
                });
                $("#loginn").click(function(){

                    $("#log").slideDown("slow");
                });
                $("#log").mouseleave(function(){
                    $("#log").slideUp("slow");
                });
            });
        </script>
        <script>
        $(document).ready(function(){
  $('a[href*=#]').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'')
    && location.hostname == this.hostname) {
      var $target = $(this.hash);
      $target = $target.length && $target
      || $('[name=' + this.hash.slice(1) +']');
      if ($target.length) {
        var targetOffset = $target.offset().top-164;
        $('html,body')
        .animate({scrollTop: targetOffset}, 1000);
       return false;
      }
    }
  });
});
        </script>
    </head>
    <body>
        <header id="fixedheader">
                    
            <div id="logo">
		<img src="{% static 'images/logo.png' %}" height=100 width=100 alt='logo'>
                Learn Linux
            </div>                       
	</header> 
        <div id="space"> </div>
        <div id="main">
            <div id="menu">
                    <ul class="flex-container">
		        <li class="flex-item"><a href="#what" class="link" >What</a></li>
			<li class="flex-item"><a href="#why" class="link">Why</a></li>
			<li class="flex-item"><a href="#team" class="link">About Us</a></li>
			<li class="flex-item"><a href="#contact" class="link">Contact Us</a></li>
            <li class="flex-item"><a href="http://127.0.0.1:8000/login" class="link">{% if user.is_authenticated %}
       Dashboard
       {% else %}
       Login
       {% endif %}</a></li>
                    </ul>
            </div> 
            <div id="log" class="flex-containerv">
                <div class="flex-item">
                <form action="action_page.php">
                    <fieldset>
                        <font color=rgb(56, 229, 37)><legend>Login:</legend>
                        Username:<br>
                        <input type="text" width="20" name="username" value="Username">
                        <br>
                        Password:<br>
                        <input type="password" name="password" value="Mouse">
                        <br><br>
                        <div class="flex-container">
                            <input type="submit" class="flex-item" value="Forgot Password">
                        </dvi>
                        <divclass="flex-container">
                            <input type="submit" class="flex-item" value="Submit"></font>
                        </div>
                    </fieldset>
                </form>
                </div>
            </div>

            <div id="wowslider-container1">
            <div class="ws_images"><ul>
                            <li><img src="{% static 'images/first.jpg' %}" alt="" title="" id="wows1_0"/></li>
                            <li><img src="{% static 'images/second.png' %}" alt="" title="" id="wows1_1"/></li>
                            <li><a href="http://wowslider.com/vi"><img src="{% static 'images/third.png' %}" alt="wordpress gallery plugin" title="" id="wows1_2"/></a></li>
                            <li><img src="{% static 'images/fourth.jpg' %}" alt="" title="" id="wows1_3"/></li>
                    </ul></div>
            <div class="ws_script" style="position:absolute;left:-99%"><a href="http://wowslider.com">jquery slider</a> by WOWSlider.com v7.8</div>
            <div class="ws_shadow"></div>
            </div>  
            <script type="text/javascript" src="{% static 'javascript/wowslider.js' %}"></script>
            <script type="text/javascript" src="{% static 'javascript/script.js' %}"></script>
            
            <section id="what" class="panel"> 
                <div class="flex1">
                <div class="id4">
                   What is Linux  ? 
                </div>
                
            </div>
            <div class="khat">
                
                <p>
                    Linux is an operating system, just like Windows and OSX are operating systems. It talks to the 
                    computer's hardware, makes sure everything's going OK, and then you run programs on top of it. 
                    Because it pretty much always comes with a standard set of tools (the GNU tools) which are very 
                    similar to the tools found on big UNIX systems, it is sometimes called GNU/Linux. If you've ever 
                    used a UNIX system, you'll feel right at home.
                    When someone says they use Linux, what they mean is they use a distribution (aka distro) of Linux. 
                    Without the GNU tools or any applications, it can be a little useless. A distro is a software bundle. 
                    It includes the Linux kernel (the part that actually talks to the hardware), the GNU tools, and 
                    whatever applications the person or people who started that distro thought were useful, all 
                    configured in a way that they think works well.
                </p>
            </div>
        </section>
        <section id="why"  class="panel"> 
                <div class="flex1">
                <div class="id4">
                   Why Linux ? 
                </div>
                
            </div>
                <div class="khat">
                
                <p>
                    There are a number of reasons you may want to try Linux on your computer. For me, the main reason to 
                    switch was to try something new. I wanted to know what else was out there besides Windows, which I 
                    was bored with, and OSX, which I don't like. Trying something new and learning more about how 
                    computers work might not be your thing, though, so here are some other reasons.
                </p>
                <dl>
                    <dt>It's free
                    <dd>
                        You don't have to pay anything to try or use Linux. Most of the software for it is totally 
                        free-of-charge too. Some distros are for-pay, like Red Hat, but in that case you're paying for 
                        a support contract. They're generally available without the support contract as well, such as 
                        with CentOS.
                    </dd>
                    <dt>You're free
                    <dd>
                        One of the things we say about Linux is that while it's often free/gratis (free as in beer), it is
                        always free/libre (free as in speech). What that means is that there are a few freedoms which 
                        come along with it. You are free to use it and any other FLOSS for whatever purpose you want. You 
                        are free to study the program and adapt it to your needs. Even if you can't code, if there's 
                        something you want changed, there's probably a 12 year old down the street who could make the 
                        changes for you. You are free to share it with your friends without being branded a software 
                        pirate. Just about anything you want to do with FLOSS, you can do, unless you want to change 
                        the license to make it stop being FLOSS. That's a pretty wide-open license.
                    </dd>
                    <dt>It's secure
                    <dd>
                        Linux was built, like UNIX, to be a multi-user system. There are permissions in place to maintain 
                        the security of the system. Users do not run as administrators all the time, so actions which 
                        affect the system must be explicitly allowed. Software cannot be installed unless a user says, as 
                        administrator, to explicitly allow that to happen, so viruses cannot install themselves. DOS and 
                        its child, Windows, were not built with this security model in mind. They run under a set of 
                        assumptions which just aren't true in today's world. They assume that only one person will ever 
                        touch the computer, that that person has all the knowledge necessary to be a good system 
                        administrator, and that nobody else can reach that computer, such as through a network. Given the 
                        existence of the internet, we know that there are plenty of people who can reach our computers. 
                        What we need to do is keep them from getting into our computers and causing harm. Linux's system of 
                        permissions prevents this. Windows' assumption that any action being performed is being allowed 
                        by the administrator is what allows malware to self-install. Microsoft has taken steps in its 
                        newest version of Windows, Vista, to copy this system of checking with the administrator before 
                        allowing certain actions to be performed, but the way in which it was done seems to be more 
                        intrusive. It's always obvious why the system is asking for permission if you are using a 
                        UNIX-like system, such as Linux, FreeBSD, or OSX.
                    </dd>
                    <dt>It's easy
                    <dd>
                        This is a new one. It used to be fairly difficult for a new user to try out Linux, mostly because 
                        installation was difficult. Once the system is setup, though, it only stops for hardware failure. 
                        My mom's been using Linux (Ubuntu, specifically) since Thanksgiving 2006. I set it up for her, 
                        showed her where Firefox was, told her she could find whatever she needs in the Applications Menu, 
                        and got on a train to go back to school, 250 miles away. By New Year, she was bragging to her 
                        friends about how much faster and easier this Linux thing was than Windows. Wow. And they said 
                        only a geek could figure out Linux. My mom took a month to figure out email! My siblings were 
                        still asking me to install software for them after 5 years of Windows. On Linux, they mark a few 
                        check boxes to choose what they want to install then hit “Apply” and everything downloads and 
                        installs automatically–no hunting the internet for installers.
                    </dd>
                </dl>
            </div>
        </section>
        <!--<section id="about"> 
                <h1> About Us</h1>-->
         <section id="team"  class="panel">
            <div class="flex1">
                <div class="id4">
                   Our Amazing Team
                </div>
                
            </div>
             <div class="flex-container_new">
                 <div class="one-third-width flex1">
                     <img src="{% static 'images/sagar.jpg' %}" class="team-img" alt=""/>
                     <div  class="general-bold-content" style="text-transform: none">
                         Sagar
                     </div>
                     <div class="general-content" style="text-transform: none">
                         Web Developer
                     </div>
                     <div class="flex-container1" style="padding:10%">
                     <a href="https://twitter.com/" style="color:black"> <i class="fa fa-twitter fa-x"></i> </a>
                     <a href="https://www.facebook.com/sagar.sehrawat.3910" style="color:black"><i class="fa fa-facebook fa-x"></i> </a>
                     
                     </div>
                 </div>
                 <div class="one-third-width flex1">
                     <img src="{% static 'images/Shubham.jpg' %}" class="team-img" alt=""/>
                     <div  class="general-bold-content" style="text-transform: none">
                         Shubham
                     </div>
                     <div class="general-content" style="text-transform: none">
                         Coder
                     </div>
                     <div class="flex-container1" style="padding:10%">
                     <a href="https://twitter.com/dceshubh" style="color:black"> <i class="fa fa-twitter fa-x"></i>
                     <a href="https://www.facebook.com/sagar.sehrawat.3910"style="color:black" ><i class="fa fa-facebook fa-x"></i> </a>
                     <a href="https://www.facebook.com/sagar.sehrawat.3910" style="color:black"> <i class="fa fa-github fa-x"></i></a>
                     </div>
                 </div>
                 <div class="one-third-width flex1">
                     <img src="{% static 'images/vikrant.jpg' %}" class="team-img" alt=""/>
                     <div  class="general-bold-content" style="text-transform: none">
                         Vikrant
                     </div>
                     <div class="general-content" style="text-transform: none">
                         Coder
                     </div>
                     <div class="flex-container1" style="padding:10%">
                     <a href="https://twitter.com/" style="color:black"> <i class="fa fa-twitter fa-x"></i></a>
                     <a href="https://www.facebook.com/sagar.sehrawat.3910"style="color:black" > <i class="fa fa-facebook fa-x"></i> </a>
                    <a href="https://www.facebook.com/sagar.sehrawat.3910" style="color:black"><i class="fa fa-google-plus fa-x"></i> </a>
                     </div>
                 </div>
                 <div class="one-third-width flex1">
                     <img src="{% static 'images/vikas.jpg' %}" class="team-img" alt=""/>
                     <div  class="general-bold-content" style="text-transform: none">
                         Vikas
                     </div>
                     <div class="general-content" style="text-transform: none">
                         Linux Specialist
                     </div>
                     <div class="flex-container1" style="padding:10%">
                     <a href="https://www.facebook.com/sagar.sehrawat.3910"style="color:black" ><i class="fa fa-facebook fa-x"></i> </a>
                     <a href="https://www.facebook.com/sagar.sehrawat.3910" style="color:black"><i class="fa fa-github fa-x"></i></a>
                     
                     </div>
                 </div>
             </div>
             
         </section>
        </section>
        <!--<section id="conatact"> 

                <h1>Contact Us</h1>
            </div>
        </section>-->
        <section id="contact"  class="panel">
            <div class="flex1">
                <div class="id4" style="color:white ; font-weight: bold">
                   Contact Us
                </div>
            </div>
            <div class="flex-container_new">
            <div class="flex-container1 equal-width" style="width:45%">
                <form class="flex1" id="set-small">
                    <input type="text" value="YOUR NAME " required/>
                    <br>
                    <input type="text" value="YOUR EMAIL" required/>
                    <br>
                    <input type="text" value="SUBJECT" required/>
                </form>
            </div>
            <div class="flex-container1 equal-width" style="width:45%">
                <form class="flex1" id="set-small1">
                    <textarea> 
                  YOUR MESSAGE HERE
                    </textarea>
                </form>
            </div>
            </div>
            <div class="flex-container1">
                <input type="submit" value="SEND MESSAGE" id="button"/>
            </div>
        </section>
            <footer id="fixedfooter">
            	&#169;Copyright 2015 - 2016
            </footer>
        </div>
    </body>
</html>
