<!doctype html>
{% load staticfiles %}
<html>
   <head>
        <title> Alert    </title>
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=open+sans">
        <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/app.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.min.css' %}">
        <!--<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">-->
        <link rel="stylesheet" type="text/css" href="{% static 'css/mystyle.css' %}">
   </head>
   <body>
<!--<div class="user_end"> Forget Password !!  </div>
        <div class="user">
            <form action="" method="post" class="custom" id="center-form"  style="background-color:white">
                {% csrf_token %}
                {% for field in form %}
                <div class="large-12 columns">
                <label> Enter your Username </label>
                    {{ field.label_tag }} {{ field }}
                    {% if field.errors %}
                 {% for error in field.errors %}
                <li><strong>{{ error }}</strong></li>
                {% endfor %}
                {% endif %}
              </div>
                <br>
              {% endfor %}
            <input type="submit" value="Submit" />
            </form>
         </div>
   <div class="user_end">
         <a href="http://127.0.0.1:8000/"> Go To Home Page </a>
        </div>

   <hr>
-->
<div id="space"> </div>
            <div class="flex-middle">
        <span> <span> <img src="{% static 'images/logo.png' %}" width="45" height="45"> </span>
        <span>
        <span class="small" style="font-size:200%;font-weight:bolder"> Alert !! </span>
    </span>
    </span>
    </div>
       <!-- <div class="flex-middle">
        <form class="custom" id="center-form"  style="background-color:white" action="" method="post">
            {% csrf_token %}
            <fieldset>
            <div class="large-12 columns">
                <label> Enter your username  </label>
                {{ form.username }}
                {% if form.username.errors %}
                 {% for error in form.username.errors %}
                <li><strong>{{ error }}</strong></li>
                {% endfor %}
                {% endif %}
            </div>
            
            <input type="submit" class="button success" style="margin-left:120px; margin-right:120px" value="Submit">
            <span class="small">
        </span>
            <div class="separator"> <span> or </span>
            </div>
            <center>
            <button type="button" class="button radius" style="margin-top:20px"> Log in with Facebook </button>
        </center>
            </fieldset>
        </form>
    </div>-->
    <div class="flex-middle">
        <form class="custom" id="center-form"  style="background-color:white" action="" method="post">
            {% csrf_token %}
            <fieldset>
            <div class="large-12 columns">
                <label> {% if user.is_authenticated %}
       Dear {{ user.username }}
       {% endif %}{{ message }} </label>
            </div>

            <center>
            <button type="button" class="button radius" style="margin-top:20px"><a href="http://127.0.0.1:8000/" style="color:white">  Go To Home </a> </button>
        </center>
            </fieldset>
        </form>
    </div>

   </body>
   <!-- {% if user.is_authenticated %}
       Dear {{ user.username }}
       {% endif %}{{ message }}-->
</html>