<!doctype html>
{% load staticfiles %}
<html>
   <head>
        <title> Password Change  </title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
   </head>
   <body>
<div class="user_end"> Dear {{ name }} , Enter your new Password !!  </div>
        <div class="user">

            <form action="/reset/" method="post">
                {% csrf_token %}
                {% for field in form %}
                    {{ field.label_tag }} {{ field }}
                    {% if field.errors %}
                 {% for error in field.errors %}
                <li><strong>{{ error }}</strong></li>
                {% endfor %}
                {% endif %}
                <br> <hr>
              {% endfor %}
            {% if my_error %}
            <li><strong>{{ my_error }}</strong></li>
            {% endif %}
            <input type="submit" value="Submit" />
            </form>
         </div>
        <div class="user_end">
         <a href="http://127.0.0.1:8000/"> Go To Home Page </a>
        </div>

   <hr>
   </body>
</html>