<!doctype html>
{% load staticfiles %}
<html>
   <head>
        <title> Register  </title>
        <!--<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">-->
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=open+sans">
        <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/app.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/mystyle.css' %}">
   </head>
   <body>
       <!--<div class="user_end"> Welcome to Sign Up Page !! It's Simple and Free !! </div>
        <div class="user">
            <form enctype="multipart/form-data" action="" method="post" data-ajax="false">
                {% csrf_token %}
                {% for field in form %}
                    {{ field.label_tag }} {{ field }}
                    {% if field.label == 'Username' and my_error_user %}
                    <br>
                        <li> <strong> {{ my_error_user }}</strong></li>
                    {% endif %}
                    {% if field.errors %}
                 {% for error in field.errors %}
                <li><strong>{{ error }}</strong></li>
                {% endfor %}
                {% endif %}
                <br> <hr>
              {% endfor %}
              {% if my_error_pwd %}
            <li><strong>{{ my_error_pwd}}</strong></li>
            {% endif %}
            <input type="submit" value="Submit" />
            </form>
         </div> <div class="user_end">
         <a href="http://127.0.0.1:8000/"> Go To Home Page </a>
        </div>
   <hr>-->
    <div id="space1"> </div>
            <div class="flex-middle">
        <span> <span> <img src="{% static 'images/logo.png' %}" width="45" height="45"> </span>
        <span>
        <span class="small" style="font-size:180%;font-weight:bolder"> Create Your Account !! It's Simple and Free !! </span>
    </span>
    </span>
    </div>
        <div class="flex-middle">
        <form class="custom" id="center-form"  style="background-color:white" enctype="multipart/form-data" action="" method="post">
            {% csrf_token %}
            <fieldset>
            <div class="large-12 columns">
                <label> Username </label>
                {{ form.username }}
                {% if my_error_user %}
                    <br>
                        <li> <strong> {{ my_error_user }}</strong></li>
                    {% endif %}
                {% if form.username.errors %}
                 {% for error in form.username.errors %}
                <li><strong>{{ error }}</strong></li>
                {% endfor %}
                {% endif %}
            </div>
            <div class="large-12 columns">
                <label> Email </label>
                {{ form.email }}
                {% if form.email.errors %}
                 {% for error in form.email.errors %}
                <li><strong>{{ error }}</strong></li>
                {% endfor %}
                {% endif %}
            </div>
            <div class="large-12 columns">
                <label> First Name </label>
                {{ form.first_name }}
                {% if form.first_name.errors %}
                 {% for error in form.first_name.errors %}
                <li><strong>{{ error }}</strong></li>
                {% endfor %}
                {% endif %}
            </div>
            <div class="large-12 columns">
                <label> Last Name </label>
                {{ form.last_name }}
                {% if form.last_name.errors %}
                 {% for error in form.last_name.errors %}
                <li><strong>{{ error }}</strong></li>
                {% endfor %}
                {% endif %}
            </div>
            <div class="large-12 columns">
                <label> Password </label>
                {{ form.password }}
                {% if form.password.errors %}
                 {% for error in form.password.errors %}
                <li><strong>{{ error }}</strong></li>
                {% endfor %}
                {% endif %}
            </div>
            <div class="large-12 columns">
                <label> Confirm Your Password </label>
                {{ form.password1 }}
                {% if form.password1.errors %}
                 {% for error in form.password1.errors %}
                <li><strong>{{ error }}</strong></li>
                {% endfor %}
                {% endif %}
            </div>
            <div class="large-12 columns">
                <label> Date of Birth </label>
                {{ form.dob }}
                {% if form.dob.errors %}
                 {% for error in form.dob.errors %}
                <li><strong>{{ error }}</strong></li>
                {% endfor %}
                {% endif %}
            </div>
            <div class="large-12 columns">
                <label> Profile Picture </label>
                {{ form.profile_pic }}
                {% if form.profile_pic.errors %}
                 {% for error in form.profile_pic.errors %}
                <li><strong>{{ error }}</strong></li>
                {% endfor %}
                {% endif %}
            </div>
            <div class="large-12 columns">
                <label> Phone Number </label>
                {{ form.phone }}
                {% if form.phone.errors %}
                 {% for error in form.phone.errors %}
                <li><strong>{{ error }}</strong></li>
                {% endfor %}
                {% endif %}
            </div>
            <div class="large-12 columns">
                <label> Captcha </label>
                {{ form.captcha }}
                {% if form.captcha.errors %}
                 {% for error in form.captcha.errors %}
                <li><strong>{{ error }}</strong></li>
                {% endfor %}
                {% endif %}
            </div>
            
            <input type="submit" class="button success" style="margin-left:15px" value="Submit and Create Account ">
            <span class="small">
            <a href="http://127.0.0.1:8000"> Go To Home  </a>
        </span>
            <div class="separator"> <span> or </span>
            </div>
            <center>
            <button type="button" class="button radius" style="margin-top:20px"> Sign Up  with Facebook </button>
        </center>
            </fieldset>
        </form>
    </div>
   </body>
</html>
