<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head>
        <title>{{ user.username }}</title>
        <link rel="stylesheet" href="{% static 'css/header.css' %}"/>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/uikit.css' %}" />
        <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />
        <script src="{% static 'javascript/jquery.js' %}"></script>
        <script src="{% static 'javascript/uikit.js' %}"></script>
        
    </head>
    <body>
        <header id="fixedheader">
            <!--<center><h1>Welcome {{ user.username }} </h1></center>-->
            <!--<h1> {{ userprofile.profile_pic.url }} </h1>-->
             <!--<table style="font-size: 60px;font-weight:bold">
          <TR>
            <TH ROWSPAN=3 BGCOLOR="#99CCFF"><img src={{ userprofile.profile_pic.url }} height="160" width="160"></TH>
            <TD COLSPAN=2> Welcome {{ user.username }} </TD>
            </TR>
        <TR>
            <TD COLSPAN=2> Score: {{ userprofile.score }} </TD>
            </TR>
        <TR>
            <TD><a href="http://127.0.0.1:8000"> Home </a> </TD>
            <TD><a href="http://127.0.0.1:8000/logout"> Logout </a> </TD>
            </TR>
        </table>-->
       <div class="shubham"> 
          <span> <img src={{ userprofile.profile_pic.url }} height="160" width="160"> </span>
          <span class="shubham-col"> <span> Welcome </span> <span> {{ user.username }} </span> </span>
          <span class="shubham-col"> <span> Score:  {{ userprofile.score }} </span> <span class="shubham"> <span> <a href="http://127.0.0.1:8000/">  Home </a>  </span> &nbsp; &nbsp; <span> <a href="http://127.0.0.1:8000/logout"> Logout </a> </span> </span> </span>
       </div>

	    </header>
<!--
-->        
        <div id="left-sidebar" class="uk-grid" data-uk-grid-margin="">
            <div class="uk-width-1-1">
                <div class="uk-panel">
                    <ul class="uk-nav uk-nav-side uk-nav-parent-icon" data-uk-nav="">
                        <li class="uk-nav-header">Click to View Tutorial</li>
                        <li class="uk-nav-divider"></li>
                        <li><a href="#my-id1" data-uk-modal  uk-active>Tutorial 1</a></li>
                        <li><a href="#my-id2" data-uk-modal>Tutorial 2</a></li>
                        <li><a href="#my-id3" data-uk-modal>Tutorial 3</a></li>
                        <li><a href="#my-id4" data-uk-modal>Tutorial 4</a></li>
                        <li><a href="#my-id5" data-uk-modal>Tutorial 5</a></li>
                        <li><a href="#my-id6" data-uk-modal>Tutorial 6</a></li>
                        <li><a href="#my-id7" data-uk-modal>Tutorial 7</a></li>
                        <li><a href="#my-id8" data-uk-modal>Tutorial 8</a></li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div id="data">
            <div class="uk-panel uk-panel-box uk-panel-box-primary">
                <h1 class="uk-panel-title">Quote of the day<h1>
                 <h3>   Don't quit. Never give up trying to build the world you can see,
                    even if others can't see it. Listen to your drum and your drum only.
                    It's the one that makes the sweetest sound.</h3>
            </div>
            <br>
            <div class="uk-panel uk-panel-box uk-panel-box-primary">
                <h1 class="uk-panel-title">Yesterday's Quote of the day<h1>
                 <h3>   Never give up. And most importantly, be true to yourself. Write from your heart, in your own voice, and about what you believe in.</h3>
            </div>

        </div>
        <footer id="fixedfooter">
            &#169;Copyright 2015 - 2016
        </footer>
        <div id="my-id1" class="uk-modal">
            <div class="uk-modal-dialog uk-modal-dialog-large">
                <a class="uk-modal-close uk-close"></a>
                <div class="uk-modal-header">Tutorial 1</div>
                <div>

                    <iframe src="/media/tutorials/Tutorial1.htm" width="100%" height="400px"></iframe>

                </div> 
                <div class="uk-modal-footer"><center><a href="http://127.0.0.1:8000/onlineclass/quiz/1"> Take the Quiz </a> </center></div>
            </div>
        </div>
        <div id="my-id2" class="uk-modal">
            <div class="uk-modal-dialog uk-modal-dialog-large">
                <a class="uk-modal-close uk-close"></a>
                <div class="uk-modal-header">Tutorial 2</div>
                <div class="uk-overflow-container">
                    <iframe src="/media/tutorials/Tutorial2.htm" width="100%" height="400px"></iframe>
                </div>
                <div class="uk-modal-footer"><center><a href="http://127.0.0.1:8000/onlineclass/quiz/2"> Take the Quiz </a></center></div>
            </div>
        </div>
        <div id="my-id3" class="uk-modal">
            <div class="uk-modal-dialog uk-modal-dialog-large">
                <a class="uk-modal-close uk-close"></a>
                <div class="uk-modal-header">Tutorial 3</div>
                <div class="uk-overflow-container">
                    <iframe src="/media/tutorials/Tutorial3.htm" width="100%" height="400px"></iframe>
                </div>
                <div class="uk-modal-footer"><center><a href="http://127.0.0.1:8000/onlineclass/quiz/3"> Take the Quiz </a></center></div>
            </div>
        </div>
        <div id="my-id4" class="uk-modal">
            <div class="uk-modal-dialog uk-modal-dialog-large">
                <a class="uk-modal-close uk-close"></a>
                <div class="uk-modal-header">Tutorial 4</div>
                <div class="uk-overflow-container">
                    <iframe src="/media/tutorials/Tutorial4.htm" width="100%" height="400px"></iframe>
                </div>
                <div class="uk-modal-footer"><center><a href="http://127.0.0.1:8000/onlineclass/quiz/4"> Take the Quiz </a></center></div>
            </div>
        </div>
        <div id="my-id5" class="uk-modal">
            <div class="uk-modal-dialog uk-modal-dialog-large">
                <a class="uk-modal-close uk-close"></a>
                <div class="uk-modal-header">Tutorial 5</div>
                <div class="uk-overflow-container">
                    <iframe src="/media/tutorials/Tutorial5.htm" width="100%" height="400px"></iframe>
                </div>
                <div class="uk-modal-footer"><center><a href="http://127.0.0.1:8000/onlineclass/quiz/5"> Take the Quiz </a></center></div>
            </div>
        </div>
        <div id="my-id6" class="uk-modal">
            <div class="uk-modal-dialog uk-modal-dialog-large">
                <a class="uk-modal-close uk-close"></a>
                <div class="uk-modal-header">Tutorial 6</div>
                <div class="uk-overflow-container">
                    <iframe src="/media/tutorials/Tutorial6.htm" width="100%" height="400px"></iframe>
                </div>
                <div class="uk-modal-footer"><center><a href="http://127.0.0.1:8000/onlineclass/quiz/6"> Take the Quiz </a></center></div>
            </div>
        </div>
        <div id="my-id7" class="uk-modal">
            <div class="uk-modal-dialog uk-modal-dialog-large">
                <a class="uk-modal-close uk-close"></a>
                <div class="uk-modal-header">Tutorial 7 </div>
                <div class="uk-overflow-container">
                    <iframe src="/media/tutorials/Tutorial7.htm" width="100%" height="400px"></iframe>
                </div>
                <div class="uk-modal-footer"><center><a href="http://127.0.0.1:8000/onlineclass/quiz/7"> Take the Quiz </a></center></div>
            </div>
        </div>
        <div id="my-id8" class="uk-modal">
            <div class="uk-modal-dialog uk-modal-dialog-large">
                <a class="uk-modal-close uk-close"></a>
                <div class="uk-modal-header">Tutorial 8</div>
                <div class="uk-overflow-container">
                    <iframe src="/media/tutorials/Tutorial8.htm" width="100%" height="400px"></iframe>
                </div>
                <div class="uk-modal-footer"><center><a href="http://127.0.0.1:8000/onlineclass/quiz/8"> Take the Quiz </a></center></div>
            </div>
        </div>
    </body>
</html>
