<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>Quiz {{ quiz.quiz_num }}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/uikit.css' %}" />
        <link rel="stylesheet" href="{% static 'css/ques.css' %}" />
        <script src="{% static 'javascript/jquery.js' %}"></script>
        <script src="{% static 'javascript/uikit.js' %}"></script>
    </head>
    <body>
        <nav id="here" class="uk-navbar uk-navbar-attached" data-uk-sticky data-uk-scrollspy-nav="{closest:'li'}" style="position:fixed">
            <ul class="uk-navbar-nav">
                
                <li><a href="#sidepanel" data-uk-offcanvas>&#9776;</a></li>
                <li class="uk-active"><a>QUIZ</a></li>
                <li><a href="#Menu0" data-uk-smooth-scroll>Question 1</a></li>
                <li><a href="#Menu1" data-uk-smooth-scroll>Question 2</a></li>
                <li><a href="#Menu2" data-uk-smooth-scroll>Question 3</a></li>
                <li><a href="#Menu3" data-uk-smooth-scroll>Question 4</a></li>
                <li><a href="#Menu4" data-uk-smooth-scroll>Question 5</a></li>
                <li><a href="#Menu5" data-uk-smooth-scroll>Question 6</a></li>
                <li><a href="#Menu6" data-uk-smooth-scroll>Question 7</a></li>
                <li><a href="#Menu7" data-uk-smooth-scroll>Question 8</a></li>
                <li><a href="#Menu8" data-uk-smooth-scroll>Question 9</a></li>
                <li><a href="#Menu9" data-uk-smooth-scroll>Question 10</a></li>
                <li><a href="#Menu10" data-uk-smooth-scroll>Submit</a></li>
            </ul>
        </nav>
        
        <form action="/onlineclass/submit{{ quiz.quiz_num }}" method="POST">
        {% csrf_token  %}

            <a id='Menu0'></a>
            <article class="uk-article section-white">
                 <h1 class="uk-article-title">{{ ques.0.ques_text }}</h1>

                <a href="#here" data-uk-smooth-scroll><p class="uk-article-meta">Go To Top</p></a>
                <p class="uk-article-lead">
                    <div> <input type="radio" name={{ ques.0.pk }} value=1>{{ ques.0.option1 }}</div>
                    <div> <input type="radio" name={{ ques.0.pk }} value=2>{{ ques.0.option2 }}</div>
                    <div> <input type="radio" name={{ ques.0.pk }} value=3>{{ ques.0.option3 }}</div>
                    <div> <input type="radio" name={{ ques.0.pk }} value=4>{{ ques.0.option4 }}</div>
                    <div style="display:none"> <input type="radio" name={{ ques.0.pk }}  value=0 checked="checked" /></div>
                </p>
            </article>
            
            <a id='Menu1'></a>
            <article class="uk-article section-gray">
                 <h1 class="uk-article-title">{{ ques.1.ques_text }}</h1>

                 <a href="#here" data-uk-smooth-scroll><p class="uk-article-meta">Go To Top</p></a>
                <p class="uk-article-lead">
                    <div> <input type="radio" name={{ ques.1.pk }} value=1>{{ ques.1.option1 }}</div>
                    <div> <input type="radio" name={{ ques.1.pk }} value=2>{{ ques.1.option2 }}</div>
                    <div> <input type="radio" name={{ ques.1.pk }} value=3>{{ ques.1.option3 }}</div>
                    <div> <input type="radio" name={{ ques.1.pk }} value=4>{{ ques.1.option4 }}</div>
                    <div style="display:none"> <input type="radio" name={{ ques.1.pk }}  value=0 checked="checked" /></div>
                </p>
            </article>
            <a id='Menu2'></a>
            <article class="uk-article section-white">
                 <h1 class="uk-article-title">{{ ques.2.ques_text }}</h1>

                <a href="#here" data-uk-smooth-scroll><p class="uk-article-meta">Go To Top</p></a>
                <p class="uk-article-lead">
                    <div> <input type="radio" name={{ ques.2.pk }} value=1>{{ ques.2.option1 }}</div>
                    <div> <input type="radio" name={{ ques.2.pk }} value=2>{{ ques.2.option2 }}</div>
                    <div> <input type="radio" name={{ ques.2.pk }} value=3>{{ ques.2.option3 }}</div>
                    <div> <input type="radio" name={{ ques.2.pk }} value=4>{{ ques.2.option4 }}</div>
                    <div style="display:none"> <input type="radio" name={{ ques.2.pk }}  value=0 checked="checked" /></div>
                </p>
            </article>
            
            <a id='Menu3'></a>
            <article class="uk-article section-gray">
                 <h1 class="uk-article-title">{{ ques.3.ques_text }}</h1>

                 <a href="#here" data-uk-smooth-scroll><p class="uk-article-meta">Go To Top</p></a>
                <p class="uk-article-lead">
                    <div> <input type="radio" name={{ ques.3.pk }} value=1>{{ ques.3.option1 }}</div>
                    <div> <input type="radio" name={{ ques.3.pk }} value=2>{{ ques.3.option2 }}</div>
                    <div> <input type="radio" name={{ ques.3.pk }} value=3>{{ ques.3.option3 }}</div>
                    <div> <input type="radio" name={{ ques.3.pk }} value=4>{{ ques.3.option4 }}</div>
                    <div style="display:none"> <input type="radio" name={{ ques.3.pk }}  value=0 checked="checked" /></div>
                </p>
            </article>
            <a id='Menu4'></a>
            <article class="uk-article section-white">
                 <h1 class="uk-article-title">{{ ques.4.ques_text }}</h1>

                <a href="#here" data-uk-smooth-scroll><p class="uk-article-meta">Go To Top</p></a>
                <p class="uk-article-lead">
                    <div> <input type="radio" name={{ ques.4.pk }} value=1>{{ ques.4.option1 }}</div>
                    <div> <input type="radio" name={{ ques.4.pk }} value=2>{{ ques.4.option2 }}</div>
                    <div> <input type="radio" name={{ ques.4.pk }} value=3>{{ ques.4.option3 }}</div>
                    <div> <input type="radio" name={{ ques.4.pk }} value=4>{{ ques.4.option4 }}</div>
                    <div style="display:none"> <input type="radio" name={{ ques.4.pk }}  value=0 checked="checked" /></div>
                </p>
            </article>
            
            <a id='Menu5'></a>
            <article class="uk-article section-gray">
                 <h1 class="uk-article-title">{{ ques.5.ques_text }}</h1>

                 <a href="#here" data-uk-smooth-scroll><p class="uk-article-meta">Go To Top</p></a>
                <p class="uk-article-lead">
                    <div> <input type="radio" name={{ ques.5.pk }} value=1>{{ ques.5.option1 }}</div>
                    <div> <input type="radio" name={{ ques.5.pk }} value=2>{{ ques.5.option2 }}</div>
                    <div> <input type="radio" name={{ ques.5.pk }} value=3>{{ ques.5.option3 }}</div>
                    <div> <input type="radio" name={{ ques.5.pk }} value=4>{{ ques.5.option4 }}</div>
                    <div style="display:none"> <input type="radio" name={{ ques.5.pk }}  value=0 checked="checked" /></div>
                </p>
            </article>
            <a id='Menu6'></a>
            <article class="uk-article section-white">
                 <h1 class="uk-article-title">{{ ques.6.ques_text }}</h1>

                <a href="#here" data-uk-smooth-scroll><p class="uk-article-meta">Go To Top</p></a>
                <p class="uk-article-lead">
                    <div> <input type="radio" name={{ ques.6.pk }} value=1>{{ ques.6.option1 }}</div>
                    <div> <input type="radio" name={{ ques.6.pk }} value=2>{{ ques.6.option2 }}</div>
                    <div> <input type="radio" name={{ ques.6.pk }} value=3>{{ ques.6.option3 }}</div>
                    <div> <input type="radio" name={{ ques.6.pk }} value=4>{{ ques.6.option4 }}</div>
                    <div style="display:none"> <input type="radio" name={{ ques.6.pk }}  value=0 checked="checked" /></div>
                </p>
            </article>
            
            <a id='Menu7'></a>
            <article class="uk-article section-gray">
                 <h1 class="uk-article-title">{{ ques.7.ques_text }}</h1>

                 <a href="#here" data-uk-smooth-scroll><p class="uk-article-meta">Go To Top</p></a>
                <p class="uk-article-lead">
                    <div> <input type="radio" name={{ ques.7.pk }} value=1>{{ ques.7.option1 }}</div>
                    <div> <input type="radio" name={{ ques.7.pk }} value=2>{{ ques.7.option2 }}</div>
                    <div> <input type="radio" name={{ ques.7.pk }} value=3>{{ ques.7.option3 }}</div>
                    <div> <input type="radio" name={{ ques.7.pk }} value=4>{{ ques.7.option4 }}</div>
                    <div style="display:none"> <input type="radio" name={{ ques.7.pk }}  value=0 checked="checked" /></div>
                </p>
            </article>
            <a id='Menu8'></a>
            <article class="uk-article section-white">
                 <h1 class="uk-article-title">{{ ques.8.ques_text }}</h1>

                <a href="#here" data-uk-smooth-scroll><p class="uk-article-meta">Go To Top</p></a>
                <p class="uk-article-lead">
                    <div> <input type="radio" name={{ ques.8.pk }} value=1>{{ ques.8.option1 }}</div>
                    <div> <input type="radio" name={{ ques.8.pk }} value=2>{{ ques.8.option2 }}</div>
                    <div> <input type="radio" name={{ ques.8.pk }} value=3>{{ ques.8.option3 }}</div>
                    <div> <input type="radio" name={{ ques.8.pk }} value=4>{{ ques.8.option4 }}</div>
                    <div style="display:none"> <input type="radio" name={{ ques.8.pk }}  value=0 checked="checked" /></div>
                </p>
            </article>
            
            <a id='Menu9'></a>
            <article class="uk-article section-gray">
                 <h1 class="uk-article-title">{{ ques.9.ques_text }}</h1>

                 <a href="#here" data-uk-smooth-scroll><p class="uk-article-meta">Go To Top</p></a>
                <p class="uk-article-lead">
                    <div> <input type="radio" name={{ ques.9.pk }} value=1>{{ ques.9.option1 }}</div>
                    <div> <input type="radio" name={{ ques.9.pk }} value=2>{{ ques.9.option2 }}</div>
                    <div> <input type="radio" name={{ ques.9.pk }} value=3>{{ ques.9.option3 }}</div>
                    <div> <input type="radio" name={{ ques.9.pk }} value=4>{{ ques.9.option4 }}</div>
                    <div style="display:none"> <input type="radio" name={{ ques.9.pk }}  value=0 checked="checked" /></div>
                </p>
            </article>
            <a id='Menu10'></a>
            <article class="uk-article section-white">
                 <h1 class="uk-article-title"><center><input type="Submit" value="Submit"></center></h1>
                 <a href="#here" data-uk-smooth-scroll><p class="uk-article-meta"><center>Go To Top</center></p></a>
            </article>

        


        <div id="sidepanel" class="uk-offcanvas">
            <div class="uk-offcanvas-bar">
                <ul class='uk-nav uk-nav-offcanvas' data-uk-nav=''>
                    <li><a href='http://127.0.0.1:8000/onlineclass/dashboard'>Dashboard</a>
                    <li>
                    <li><a href='http://127.0.0.1:8000/'>Home</a>
                    <li>
                    <li><a href='http://127.0.0.1:8000/logout'>Logout</a>
                    <li>
                </ul>
            </div>
        </div>
    </body>
</html>
<!-- <h3>Welcome to Quiz {{ quize.quiz_num }}</h3></div>

    <form action ="/onlineclass/quiz/{{ quize.quiz_num }}/" method="POST">
    {% csrf_token  %}
    {% for ques in quize.question_set.all %}
        <div class="panel callout radius">
    <h5>Ques{{ ques.pk }}. {{ ques.ques_text }} </h5>
   <div> <input type="radio" name={{ ques.pk }}
    value=1>{{ ques.option1 }}</div>
    <div> <input type="radio" name={{ ques.pk }}
    value=2>{{ ques.option2 }}</div>
    <div> <input type="radio" name={{ ques.pk }}
    value=3>{{ ques.option3 }}</div>
    <div> <input type="radio" name={{ ques.pk }}
    value=4>{{ ques.option4 }}</div>
        <div style="display:none"> <input type="radio" name={{ ques.pk }}  value=0 checked="checked" /></div>
        </div>
    {% endfor %}
    <input class="button highlight" type="Submit" value="Submit Answers ">
    </form>-->