.heading{
    font-size: 60px;
    text-align: center;
    margin:auto;
    padding:10px;
    color:darkred;
}
input[type="button"]{
    font-size:25px;
    color: #188b1b;
    margin: auto;
    text-align: center;
    text-transform: uppercase;
    padding:8px;
}
.button{
    margin:20px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
hr{
    width:100%;
    height: 10px;
    color:black;
}
html{
    background-color: lightgrey;
    margin: 0px;
    padding: 0px;
}
.login{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size:30px;
    color:black;
    background-color: #7180ff;
    margin:0;
    padding:10px;
}
body{
    margin:0px;
    padding: 0px;
}
input[type="submit"]{
    font-size:25px;
    text-transform: uppercase;
    text-align: center;
}
h3{
    margin:0px;
    padding:0px;
}