/*
body {
    background: url("body.jpg") no-repeat;
    background-size: cover;
    margin:48px 0px 0px 64px;
    font-family: sans-serif, serif;
    overflow:hidden;
}
*/
#fixedheader {
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 80%;
    width: 100%;
    color: black;
    height: 20%;
    background: #001c28;
    text-align: center;
    justify-content: space-around;
}

.zzzzzz {
 
    width: 100%;
}

#left-sidebar{
    position: fixed;
    top: 20%;
    bottom: 5%;
    left: 0;
    background: #36b5f1;
    width: 15%;
    height: 100%;
}

#data{
    position: fixed;
    top: 22%;
    bottom: 5%;
    left: 15%;
    background: #ffffff;
    width: 600px;
    height: 100%;
}

#fixedfooter {
	position: fixed;
        bottom: 0px;
        left: 0px;
	width: 100%;
	height: 5%;
	color: #CCC;
	background: #001c28;
        text-align: center;
}
