html{
    background: url("http://127.0.0.1:8000/static/css/images/body.jpg") no-repeat;
 background-size: cover;
    margin: 0px;
    padding: 0px;
}
body{
    margin:0px;
    padding: 0px;
}
.user{
	text-align: center;
	background-color: white;
	/*font-size:35px;
	color:blue;
	margin:auto;
	padding:4px;*/
	margin:auto;
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	width:30%;
}
.errorlist{
    display:none;
}
/*input{
    //display:block;
    margin:auto;
    width:15%;
}
input[type="submit"]{
    font-size: 40px;
}*/
.user_end{
	text-align: center;
	font-size:35px;
	color:darkred;
	margin:20px;
	padding:4px;
}
a{
    color:darkred;
}
li{
	color:black;
	font-size: 22px;
}
ul{
	color:green;
	font-size:20px;
}