.shubham{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
padding:10px;
color:white;
font-size:45px;
         
}
.shubham-col{
	display:flex;
	flex-direction:column;
	justify-content:space-around;
padding:10px;
color:white;
font-size:45px;
}