.message{
    text-align: center;
    font-size: 35px;
    color: brown;
}
html{
    background-color: lightgrey;
    margin: 0px;
    padding: 0px;
}
body{
    margin:0px;
    padding: 0px;
}
a{
    text-align:center;
    font-size: 40px;
    color: sienna;
    padding:20px;
}
.col-flex{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    margin:20px;

}