.flex-middle{
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	margin-top:5px;
	padding:5px;
}
.large{
	font-size:140%;
	//line-height: 40px;
}
.small{
	font-size:90%;
}
li{
  list-style: none;
  color:black;
  font-size: 15px;
  margin:3px;
  margin-bottom:5px;
}
ul{
  color:green;
  font-size:20px;
}
body{
background: url("http://127.0.0.1:8000/static/css/images/body.jpg");
 background-size: cover;
}
.flex-left-right{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
}
#center-form{
	width:30%;
}
#space{
	height:100px;
}
#space1{
  height:30px;
}
select{
  width:32%;
}
label{
  font-weight: bold;
}
.separator {
  clear: both;
  margin: 0 30px;
  height: 1px;
  border-top: 2px solid #e1e4df;
  font-size: 14px;
  line-height: 16px;
  color: #7f7f7f;
  text-transform: uppercase;
  text-align: center;

 }
 .separator span {
  display: inline-block;
  padding: 0 17px;
  background: #fff;
  position: relative;
  top: -9px;
}