.section-gray {
    height:100%;
    width:100%;
    background: #eee;
    padding-top:50px;
    min-height:800px;
}
.section-white {
    height:100%;
    width:100%;
    background: #fff;
    padding-top:50px;
    min-height:800px;
}