body {
	background: url("http://127.0.0.1:8000/static/css/images/body.jpg");
 background-size: cover;
	margin: 0px;
	font-family: sans-serif, serif;
}

#fixedheader {
    z-index: 100;
    position: fixed;
    color: black;
    width:100%;
    height:100px;
    background:#001c28;
    display: flex;
    flex-flow: row wrap;
    align-content: stretch;
    text-align: center;
    justify-content:space-around;
}

#logo {
        font-size: 90px;
	    color: rgb(56, 229, 37);
        vertical-align: top;
}

/* Body Work */
.flex-container_new{
    display:flex;
    //margin:10px 50px 10px 50px;
    //padding:10px 100px 10px 100px;
    padding:0;
    margin:0;
    font-size:120%;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
    text-transform:uppercase;
}
.flex-container1{
    display:flex;
    //margin:10px 50px 10px 50px;
    //padding:10px 100px 10px 100px;
    padding:0;
    margin:0;
    font-size:120%;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;
    text-transform:uppercase;
}
.flex1{
    display:flex;
    padding:0;
    margin:0;
    flex-direction:column;
    flex-wrap:wrap;
    justify-content:space-around;
}
.id4{
    margin-top:10px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:2px;
    text-transform:uppercase;
    padding:20px;
    padding-bottom:0;
    font-size:280%;
    color:black;
    font-weight:bold;
}
.id5{
    font-style:italic;
}
.one-third-width{
    width:23%;
    display:flex;
    justify-content:space-around;
}
.one-third-img{
    padding: 20px;
    margin:auto;
    height:auto;
    width: 70px;
}
.team-img{
    width:80%;
    height:200px;
    //height:auto;
    margin:auto;
    border-radius: 50%;
    text-align: center;
    
    margin-top: 60px;
    margin-bottom: 40px;
}
.general-bold-content{
    margin:0;
    padding:0;
    margin-left:auto;
    margin-right:auto;
    color:black;
    font-size:180%;
    text-align:center;
}
.general-content{
    margin:8px;
    padding:0;
    margin-left:auto;
    margin-right:auto;
    color:black;
    font-size:180%;
    text-align: center;
    font-weight: bolder
}
#team{
    /*padding-left:10%;
    padding-right:10%;
    padding-top:5%;
    padding-bottom: 5%;
    margin:0;
    //background-color: rgb(241, 241, 242);*/
}

#set-small{
    margin:8% ;margin-right:0
}
#set-small1{
    margin:8%;margin-left:0;
}
}
.equal-width{
    width:100%;
}
input#n {
    width: 99%;
    height: 20px;
    padding: 1%;
    font-size: 90%;
    color: rgb(69, 62, 62);
    border-radius: 3px;
    border-color: white;
    border-width: 0px;
}
input{
    width: 99%;
    height: 20px;
    padding: 1%;
    font-size: 90%;
    color: rgb(69, 62, 62);
    border-radius: 3px;
    border-color: white;
    border-width: 0px;
}
textarea{
    height: 140px;
    width: 99%;
    padding: 0%;
    font-size: 90%;
    color: rgb(69, 62, 62);
    border-radius: 3px;
    border-color: white;
    border-width: 0px;
    
}
#button{
    width:20%;
    font-size:90%;
    text-align: center;
    background-color: rgb(245, 245, 93);
    border-radius: 3px;
    border-color: white;
    border-width: 0px;
    color:white;
    font-weight:bold;
    padding-top: 2%;
    padding-bottom: 3%;
    margin: 0%;
}
form{
    width:100%;
    
}
#contact{
    padding-left:10%;
    padding-right:10%;
    padding-top:5%;
    padding-bottom: 5%;
    margin:0;
        background: url("http://127.0.0.1:8000/static/css/images/contact-us-bg.jpg");
 background-size: cover;
}
.khat{
	overflow: auto;
	height:auto;
	color: black;
	font-size:130%;
}
#space{
	height:100px;
	width:100%;
}
#main{
	//position: relative;
	top: 100px;
	width: 80%;
	margin: auto;
	//font-size:110%;
}

#log {
    background:#001c28;
    display: none;
}
/* Body Work End */
/* MENU work */
#menu {
    background:#001c28;
    display: none;
    position:fixed ;
    width:80%;
    z-index:100;
}
.link{
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    color:#fff;
}
a.link{
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    color:#fff;
    text-decoration:none;
}
a.link:hover{
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    color:rgb(56, 229, 37);
    text-decoration:none;
}
.flex-container{
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    text-transform: uppercase;
}
.flex-item{
    list-style: none;
    font-size: 120%;
    text-align: center;
    margin: 10px;
    text-transform: uppercase;
}
#fixedfooter {
	position: relative;
	width:100%;
	height:30px;
	color:#CCC;
	background:#001c28;
}
/* MENU end */
.flex-containerv{
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-transform: uppercase;
}